/* pseudo-classes / pseudo-Klassen */
:root {
    --playerColorGrey:  rgb(100, 100, 100);
    --playerColorRed:  rgb(200, 0, 0);
    --playerColorBlue:  rgb(0, 0, 200);
    --playerColorGreen:  rgb(0, 200, 0);
    --playerColorYellow:  rgb(255, 255, 0);
    --playerColorBlack:  rgb(0, 0, 0);
    --playerColorWhite:  rgb(255, 255, 255);
    
    --sideColorLight: rgb(250, 250, 250);
    --sideColorDark: rgb(220, 220, 255);
    --mainColorLight: rgb(80, 80, 255);
    --colorEntryNormal: rgb(100, 100, 100);
    --colorEntryHover: rgb(0, 0, 0);
    --colorEntryActive: rgb(80, 80, 255);

    --HeaderHeight: 50px;
    --HeaderHeightSmallDevice: 150px;
}

/* Tags */
body {
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    font-size: 4vh; 
}

p {
    margin: 0;
}

button {
    height: max-content;
}

main {
    background-color: darkgray;
    flex: 1;
    overflow-y: scroll;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(10px + 3vh);
}

input[type='text'] {
    height: max-content;
    font-size: 3vh;
}

input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
    background-color: rgb(230, 230, 230); 
    vertical-align: middle;
    border: 1px solid rgb(0, 0, 0);
    -webkit-appearance: none;
    border-radius: 50%;
}

input[type='checkbox']:checked {
    background-color: rgb(0, 200, 0);
}
input[type='checkbox']:hover {
    background-color: grey;
}
input[type='checkbox']:disabled {
    background-color: rgb(75, 75, 75);
}

noscript, div span {
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    color: black;
}

/* classes / Klassen */
.dialogContent {
    position: absolute; /* value 'relative' moves this container, when children are existing... WHY?! */
    
    width: 100%;
    height: 100%; 

    display: flex; 
    flex-direction: column;
}

.dialogContent > section {
    width: 96%;

    display: inherit; 
    flex-direction: column;
    overflow: auto; /* TODO check how to make it better. */
    flex-grow: 1; 

    border: 1px solid black;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(255, 255, 255);
}

.dialogContent > .unchecked {
    background-color: rgb(75, 75, 75);
    color:rgb(200, 200, 200);
}

.dialogContent > .buttonCollection {
    flex-direction: row;
    flex-wrap: wrap;
    
    border: none;
    border-radius: 0;
}

.dialogContent > .bottomLine { 
    width: 100%;
    
    flex-direction: row; 
    flex-grow: 0; 
    justify-content: normal;

    border: none;
    margin-left: 0;
    margin-right: 0;
}

.dialogContent > section > div {
    display: inherit;
    flex-direction: row;
    justify-content: space-between; 
}

.dialogContent > section > .playerEntry,
.dialogContent > section > .scenarioList {
    justify-content: normal;
}

.dialogContent .flexFiller {
    flex: 1;
}

.hidden {
    display: none;
}

.menuIcon {
    width: 50px;
    height: 50px;
}

.terrainGraphicOnGameMap, .terrainOrUnitSelectionGraphic {
    width: 80px;
    height: 80px;
}

.unitGraphicOnGameMap {
    position: absolute; /* only works if parent has relative position. see at '#gameMap td' */
    width: 80px;
    height: 80px;
    left: 0px; /* if not set, than element get positioned 1 cell right next to the wanted cell... wtf */
    z-index: 2;
}

/*
.arrowSizeButton {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* top or bottom attribute are in id-css-value! 
}
*/

/*
.leftBetweenArrowButtons {
    position: absolute;
    left: 25%;
    text-align: right;
    font-size: 10vh;
    /* top or bottom attribute are in id-css-value!
}
 */

.sizeValue {
    /*position: absolute;
    right: 25%;*/ 
    font-size: 10vh;
    /* top or bottom attribute are in id-css-value! */
}

.playerSelectBevoreButton {
    height: max-content;
}

.playerSelectedInfo {
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

.playerSelectNextButton {
    height: max-content;
}

div.playerEntry > * {
    min-width: 0;
}
p[class*='playerColor'] {
    width: 40px;
  }
p.playerColorGrey {
    background-color: var(--playerColorGrey);
}
p.playerColorRed {
    background-color: var(--playerColorRed);
    color: white;
}
p.playerColorBlue {
    background-color: var(--playerColorBlue);
    color: white;
}
p.playerColorGreen {
    background-color: var(--playerColorGreen);
}
p.playerColorYellow {
    background-color: var(--playerColorYellow);
}
p.playerColorBlack {
    background-color: var(--playerColorBlack);
    color: white;
}
p.playerColorWhite {
    background-color: var(--playerColorWhite);
}

/* No neutral units, so no grey Color!*/
svg.playerColorRed .colored {
    fill: var(--playerColorRed);
}
svg.playerColorBlue .colored {
    fill: var(--playerColorBlue);
}
svg.playerColorGreen .colored {
    fill: var(--playerColorGreen);
}
svg.playerColorYellow .colored {
    fill: var(--playerColorYellow);
}
svg.playerColorBlack .colored {
    fill: var(--playerColorBlack);
}
svg.playerColorWhite .colored {
    fill: var(--playerColorWhite);
}


/* IDs */
#overlay {
    min-width: 100%;
    min-height: 100%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    z-index: 5;
}
#dialogContainer{
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.8);
    position: relative;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
}


#gameMap { /* game map with terrain elements as: table */
    font-size: 0px; /* reset inherited value. */
    border-collapse: collapse; /* table without borders Part 1/2; see Part 2 in td element */
    border: 1px solid black;
}

#gameMap td {
    padding: 0px; /* table without borders Part 2/2; see Part 1 in table element */
    border: 0px transparent;
    position: relative; /* so children (units) can be positioned above children (terrain) absolute. see at '.unitGraphicOnGameMap' */
}

#gameMap.grid td{
    border: 1px solid black;
}

#closeDialogButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#XleftBetweenArrowButtons, #currentXsizeValue, #playersTitle{
    top: calc(10px + 5vw);
}

#arrowUpXButton, #arrowUpPlayerButton{
    /* position and left or right attribute are in class-css-value! */
    top: calc(10px + 10vh);
}

#arrowDownXButton, #arrowDownPlayerButton{
    /* position and left or right attribute are in class-css-value! */
    top: calc(80px + 10vh);
}


#YleftBetweenArrowButtons, #currentYsizeValue{
    bottom: 14vw;
}

#arrowUpYButton{
    /* position and left or right attribute are in class-css-value! */
    top: calc(150px + 10vh);
}

#arrowDownYButton{
    /* position and left or right attribute are in class-css-value! */
    top: calc(230px + 10vh);
}
